* {
	font-family: 'Nunito';
}

body {
	background-color: gray;
	background-image: url("assets/checked_bg@2x.png");
	background-repeat: no-repeat
}

.main {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 1200px;
	padding: 25px;
	background-color: white;
	border-radius: 3px;
}


/* TITULO DO JOGO - IMAGEM */
#title { 
	display:flex;
	justify-content:center;
	align-items:center;
	position: relative;
	top: 40px;
}

img {
	height:50px;
}

#textBox {
	color: gray;		
}

#guessedAnswers {
	column-count: 3;
	column-width: 265px;
	column-gap: 0px;
}